.heading {
    font-size: 2.4rem;
    margin: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #888;
}

.postsContainer {
    display: flex;
    flex-wrap: wrap;
}

.waitNotice {
    display: inline-block;
    width: 100%;
    color: #444;
    margin: 1rem 2rem;
}