<ng-container>
    <h1>{{listTitle}}</h1>
    <app-input-field (addListItemEvent)="addItemEventHandler($event)"></app-input-field>
    <app-counter [counter]="listItemCount"></app-counter>
</ng-container>

<ul class="listContainer">
    <li>
        <span class="liHead">Track</span>
        <span class="liHead">Singer</span>
        <span class="liHead">Album</span>
    </li>

    <li *ngFor="let item of listData.entries()">
        <span class="liCell">{{item[1].track}}</span>
        <span class="liCell">{{item[1].singer}}</span>
        <span class="liCell">{{item[1].album}}</span>
        <a href="#" class="btnCircle" (click)="remove(item[1].idx)">
            <i class="far fa-trash-alt"></i>
        </a>
    </li>
</ul>